<div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true"></div>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Entries: <b>{{entries.length}}</b>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Img</th>
      <th>Wiki URL</th>
      <th>ID</th>
    </tr>
  </thead>
  {{#each entries as |entry|}}
  <tr>
    <td>{{entry.fullName}}</td>
    <td>{{entry.age}}</td>
    <td><img src="{{entry.imgUrl}}"/></td>
    <td><a href="{{entry.wikiUrl}}">{{entry.wikiUrl}}</a></td>
    <td>{{entry.id}}</td>
  </tr>
  {{/each}}
</table>
